IP_MARTA=127.0.0.1
PUERTO_MARTA=3333
MAPPER=/home/utnso/workspace/pruebas/weather-mr/mapper.sh
REDUCE=/home/utnso/workspace/pruebas/weather-mr/reduce.pl
COMBINER=NO
ARCHIVOS=/home/utnso/workspace/pruebas/weather-mr/201301hourly.txt.gz|/home/utnso/workspace/pruebas/weather-mr/201302hourly.txt.gz
RESULTADO=/home/utnso/workspace/pruebas/weather-mr/salida.txt